*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div
{
    display: block;
}

.navbar
{
    border-radius: 0px;
}

.box
{
    margin-top: 30px;
    border :1px solid #000000;
    border-radius: 5px;
    padding: 15px 30px;
}

.box .form-text
{
    font-weight:bold;
    margin-bottom: 10px;
}

.box .btn-form-group
{
    margin-top: 15px;
}

.box .btn-submit
{
    font-weight:bold;
    font-size: 16px;
    background-color: #3498db;
    color: #FFFFFF;
}

.detail_container{
    z-index: 1;
    display: none;
    position: fixed;
    margin-left: 40%;
    background-color: lightgray;
    margin-top: 30px;
    border :1px solid #000000;
    border-radius: 5px;
    padding: 15px 30px;
}

.btn-update{
    float: left;
}





